/* .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/homebg.png");
    background-size: cover;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
h1{
    color:#e5533d
}
p{
    color: darkred;
    font-size: larger;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/homebg.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; /* White color for text to stand out against the background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Subtle text shadow for readability */
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.second {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #ff6347; /* Tomato red button to match the Zomato theme */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5533d; /* Slightly darker shade for hover effect */
}
