/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #eeefef;
    margin: 0;
    padding: 0;
}

/* Container for the listing page */
.container {
    margin: 20px auto;
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    background-color: #e1f5fe;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Search bar container */
.search-bar {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.search-bar form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.search-bar select,
.search-bar input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #e5533d;
}

/* Header container */
.end-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.items-per-page {
    margin-top: 20px;
    font-size: 1rem;
    color: black;
}

.items-per-page select {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.items-per-page select:hover {
    border-color: #ff6347;
}

.items-per-page option {
    background-color: #ffffff;
    color: #333333;
}

/* Pagination container */
.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: #0056b3;
    font-weight: bold;
}

/* Cards container */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #333;
}

.card-title a {
    text-decoration: none;
    color: inherit;
}

.card-title a:hover {
    text-decoration: underline;
}

.card-city {
    font-size: 1em;
    color: #666;
}
